<div class="well hoverwell thumbnail" [routerLink]="['/events', event.id]" >
    <h4>{{event?.name | uppercase}}</h4>
    <div>Date: {{event?.date | date:shortDate}}</div>
    <div [ngClass]="getTimeClass()">Time: {{event?.time}}</div>
    <div [ngStyle]="getPriceStyle()">Price: {{event?.price | currency:dollor}}</div>
    <div>
      <span>Location: {{event?.location?.address}}</span>
      <span>&nbsp;</span>
      <span>{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
</div>